<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Login Screen - ATM Simulation</title>
    <meta name="description" content="Index">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h2 align="center" class="help-block">ATM - Simulation 3</h2>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <form th:action="@{/login}" method="POST">
        <div class="input-group">
            <h5>Enter Account Number</h5>
            <input type="text" class="form-control" required="required" placeholder="Account Number" name="accNumber">
        </div>
        <br>
        <div class="input-group">
            <h5>Enter PIN</h5>
            <input type="password" class="form-control" required="required" placeholder="PIN" name="accPin">
        </div>
        <br>
        <input type="submit" value="Login" class="btn btn-primary">
        </form><br>
        <div th:if="${errorMessage} != null" class="alert alert-danger" >
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</body>
</html>