<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Transaction Screen - ATM Simulation</title>
    <meta name="description" content="Index">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2 align="center" class="help-block">Transaction Menu</h2>
        </div>
        <h3 align="right"><a href="/">Logout</a> </h3>
    </div>
    </div>
</nav>
<div class="container-fluid">
    <div th:if="${account} != null">
        <h3 th:text="'Welcome back, '+${account.name}+'!'"></h3>
        <h5 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></h5>
    </div>
    <br>
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="/withdraw">
                        <input type="button" class="btn btn-primary" value="Withdraw">
                    </a>
                </td>
                <td>
                    <a href="/fund-transfer">
                        <input type="button" class="btn btn-info" value="Fund Transfer">
                    </a>
                </td>
                <td>
                    <a href="/histories">
                        <input type="button" class="btn btn-success" value="Transaction History">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
</body>
</html>