<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Transaction History Screen - ATM Simulation</title>
    <meta name="description" content="Index">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2 align="center" class="help-block">Transaction History</h2>
        </div>
        <h3 align="right"><a href="/">Logout</a> </h3>
    </div>
    </div>
</nav>
<div class="container-fluid">
    <div th:if="${account} != null">
        <h3 th:text="'Account Name : '+${account.name}"></h3>
        <h3 th:text="'Account Number : '+${account.accNumber}"></h3>
        <h3 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></h3>
    </div>
    <br>
    <form th:action="@{/filterByDate}" method="POST">
        <div class="input-group">
            <h5>Filter by Date</h5>
            <input type="Date"  name="dateFilter" id="dateFilter">
        </div>
        <br>
        <input type="submit" value="Filter" class="btn btn-primary">
    </form>
    <hr>
    <table border="1" class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Transaction Date</th>
            <th>Transaction Type</th>
            <th>Destination Account</th>
            <th>Amount</th>
            <th>Balance</th>
        </tr>
            <tr th:each ="x : ${transactionList}">
                <td th:text="${x.transactionId}"></td>
                <td th:text="${x.transactionDate}"></td>
                <td th:text="${x.transactionType}"></td>
                <td th:text="${x.descAccountNumber}"></td>
                <td th:text="'$'+${x.amount}"></td>
                <td th:text="'$'+${x.balance}"></td>
            </tr>
    </table>
    <br>
    <a class="btn btn-warning" href="/transaction">Transaction Menu</a>
</div>
</body>