<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Withdraw Screen - ATM Simulation</title>
    <meta name="description" content="Index">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
    function showHideCustomAmount() {
        var radioCustom = document.getElementById("withdrawAmountText");
        var textFieldCustom = document.getElementById("customWithdraw");
        textFieldCustom.style.display = radioCustom.checked ? "block" : "none";
        textFieldCustom.value = "";
    }
</script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2 align="center" class="help-block">Withdraw</h2>
        </div>
        <h3 align="right"><a href="/">Logout</a> </h3>
    </div>
    </div>
</nav>
<div class="container-fluid">
    <div th:if="${account} != null">
        <h3 th:text="'Welcome back, '+${account.name}+'!'"></h3>
        <h5 th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></h5>
    </div>
    <form th:action="@{/process-withdraw}" method="POST">
        <br>
        <h4>Choose amount to withdraw</h4>
        <div class="form-check">
            <input class="form-check-input" onclick="showHideCustomAmount()" type="radio" name="withdrawAmount" id="withdrawAmount10" value="10" checked>
            <label class="form-check-label" for="withdrawAmount10">
                $10
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" onclick="showHideCustomAmount()" type="radio" name="withdrawAmount" id="withdrawAmount50" value="50">
            <label class="form-check-label" for="withdrawAmount50">
                $50
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" onclick="showHideCustomAmount()" type="radio" name="withdrawAmount" id="withdrawAmount100" value="100">
            <label class="form-check-label" for="withdrawAmount100">
                $100
            </label>
        </div>
        <div class="input-group">
            <input class="form-check-input" onclick="showHideCustomAmount()" type="radio" name="withdrawAmount" id="withdrawAmountText" value="custom">
            <label class="form-check-label" for="withdrawAmountText">
                Other
            </label>
            <input type="text" class="form-control" placeholder="Enter amount to withdraw" id="customWithdraw" name="customWithdraw" style="display: none">
        </div>
        <br>
        <input type="submit" value="Withdraw" class="btn btn-primary">
        <a class="btn btn-warning" href="/transaction">Back to Transaction Menu</a>
    </form><br>
    <div th:if="${errorMessage} != null" class="alert alert-danger" >
        <p th:text="${errorMessage}"></p>
    </div>
</div>
</body>


</html>